@media (max-width: 960px) {
	.barra-preta .container {
		width: 100%;
	}
	header .buttons-header button{
		margin-bottom: 20px;
	}
	section .container{
		width: 100%;
	}

	.col-5 {
	    padding-right: 15px;
	    padding-left: 15px;
	    width: 95%;
	}
	.col-7 {
	    padding-right: 15px;
	    padding-left: 15px;
	    width: 90%;
	}
	.cursos .all-cursos {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
    }
}

@media (max-width: 600px) {
	header img{
		margin: 30px auto 0px;
		display: block;
	}
	nav{
		display: block;
		float: none;
		margin: 0px auto;
		width: 340px;
	}
	nav li {
		padding:4px 4px 4px 0px;
	}
	header h1 {
	 	font-size: 40px;
	 	padding: 50px 0px 20px 0px;
	}
}

@media (max-width: 320px) {
	nav{
		width: 300px;
	}
	nav li a{
		font-size: 14px;
	}
}